body,
html {
    height: 100%;
}
body {
    background-image: url("https://as1.ftcdn.net/v2/jpg/09/37/88/06/1000_F_937880682_fKulssc6lBn8K5KQCYNatlQznhxfArHl.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.icons {
    color: white;
    padding: 10px;
    font-size: 20px;
    float: right;
}
.icons:hover {
    color: #59d0ff;
}
.skills {
    width: 300px;
    background-color: black;
    font-family: "Centeria Script";
    color: #59d0ff;
    border-style: ridge;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: purple;
    text-align: center;
}
.email {
    color: white;
}
.email:hover {
    color: #59d0ff;
}
.display-4 {
    font-family: "Centeria Script";
    font-weight: bold;
}
.repobutton {
    font-family: "Centeria Script";
    color: #59d0ff;
    background-color: white;
    text-align: center;
    float: right;
}
.tskills {
    font-family: "Centeria Script";
}

#namepage {
    border-radius: 20px;
    background-color: black;
    font-family: "Centeria Script";
    text-align: center;
    color: #59d0ff;
    border-style: ridge;
}
#repos {
    positiion: center;
    color: purple;
}
#python {
    color: purple;
}
#js {
    color: black;
}
#css {
    color: black;
}
#html {
    color: white;
}
